.signup-container {
    height: 100vh;
    background: url('https://img.etimg.com/thumb/width-1600,height-900,imgsize-518274,resizemode-75,msid-90771419/industry/banking/finance/banking/banks-credit-growth-nearly-doubles-in-fy22.jpg') no-repeat center center/cover;
    padding: 2rem;
  }
  